<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #ff0000;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                   th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect data</p>
        </div>

        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea id="content" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요" style="height:350px;"
                      th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect data</p>
        </div>

        <div class="form-group">
            <label th:for="reward">현상금</label>
            <input type="number" th:field="*{reward}" class="form-control" placeholder="현상금을 입력하세요"
                   th:class="${#fields.hasErrors('reward')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('reward')}" th:errors="*{reward}">Incorrect data</p>
        </div>
        <button type="submit" class="btn btn-primary">글 수정</button>

    </form>
    </br>
    <div th:replace="fragments/footer :: footer" />


</div> <!-- /container -->

</body>
</html>
